/*==========================================================================================================*/

#footer-main {
    background:#17a2b8;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}